body {
    background: #e5e5e5;
    color: #25282b;
    text-align: justify;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 90%;
    max-width: 980px;

    margin: auto;

    background-color: aquamarine;

    display: flex;
}

#intro {
    width: 900px;
    margin-right: 20px;
    margin-top: 32px;
    margin-left: 20px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 32px;
}

button.fat:hover {
    text-decoration: none;
}

button {
    background: none;
    color: #ff5e84;

    border: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer;
}

button:hover {
    text-decoration: none;
    background-color:#0984e3;

    color: white;

}

button.fat {
    color: white;
    background: #ff5e84;
    width: 150px;
    height: 40px;

    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.2);
}

footer {
    text-align: center;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

footer a {
    opacity: 0.7;
}

.hide {
    display: none;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.idea {
    display: flex;

    background-color: #FFF;
    box-shadow: 0 4px 16px -8px black;
    border-radius: 8px;

    margin-bottom: 32px;
    margin-top: 32px;
    padding: 32px;

}

.idea img {
    width: 90px;
    height: 90px;

    margin-right: 32px;
}

h3 {
    margin-top: 0px;
}

p {
    font-size: 16px;
}

main {
    margin: 32px 0;
}

#footer {
    color: #25282b;
    text-decoration: none;
}

/* Modal */
#modal {

    background:#ff5e84;

    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

}

#modal .content {
    margin-top: 5 px;
    color: white;
    
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

#modal form {
    text-align: left;
}

form input, form textarea {
    width: 100%;

    padding: 12px;

    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(141, 25, 52, 0.5);

    outline: nome;

    font-size: 16px
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form button {
    background: white;

    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;
}

form button:hover {
    background-color: #0984e3;
    color: white;

    text-decoration: none;
}
